# training configurations

mode: 1

model: "densenet121"
load_model_path: ""
# load_model_path: "checkpoints/densenet121_048.pth"

batch_size: 128
max_epoch: 120
lr: 0.01
lr_decay: 0.95
weight_decay: 0.0001

train_data_root: "/mnt/share/data_set/dog_cat/data/train/"
test_data_root: "/mnt/share/data_set/dog_cat/data/test/"
log_file: "checkpoints/log"
checkpoint_dir: "checkpoints"
